{% extends 'base.html.twig' %}

{% block body %}
	{{ form_start(form) }}
		{{ form_widget(form) }}
	{{ form_end(form) }}
	{% for product in results %}
		<ul>
			<li><a href={{ path('show_product', {'id' : product.id }) }}> {{ product.ORIGFDNM }}</a></li>
			<li> {{ product.ORIGGPFR }}</li>
		</ul>
	{% endfor %}
{% endblock %}