{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block body %}
	<h1 class="text-right"> AllYouNeedIsFood. </h1>
	<h2 class="text-center"> Des données nutritionnelless accessibles à tous. Avec AllYouNeedIsFood, la nourriture ne pourra plus rien vous cacher ! </h2>

	{{ form_start(form, {'attr': {'class': 'text-center'} }) }}
		{{ form_widget(form) }}
	{{ form_end(form) }}

	{% if results is defined %}
		<div class="text-center">
			<h3> Voici les résultats de votre recherche : </h3>
			{% for product in results %}
				<ul>
					<li><a href={{ path('show_product', {'id' : product.id }) }}> {{ product.ORIGFDNM }}</a>
					<p> {{ product.ORIGGPFR }}</p></li>
				</ul>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}