{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block body %}
	<h1 class="text-right mt-5"> AllYouNeedIsFood. </h1>
	<h2 class="text-center mb-5"> Des données nutritionnelles accessibles à tous. Avec AllYouNeedIsFood, la nourriture ne pourra plus rien vous cacher ! </h2>

	{{ form_start(form, {'attr': {'class': 'text-center'} }) }}
		{{ form_widget(form) }}
	{{ form_end(form) }}

	{% if results is defined and results is not empty %}
		<div class="text-center">
			<h4 class="mt-5 mb-5 pt-2 pb-2 bg-green rounded-top"> Voici les résultats de votre recherche : </h4>
			{% for product in results %}
				<ul>
					<li><a href={{ path('show_product', {'id' : product.id }) }}> {{ product.ORIGFDNM }}</a>
					<p class="font-italic text-secondary"> {{ product.ORIGGPFR }}</p></li>
				</ul>
			{% endfor %}
		</div>
	{% elseif results is defined and results is empty %}
		<div class="text-center">
			<h4 class="mt-5 mb-5 pt-2 pb-2 bg-green rounded-top"> Aucun résultat pour votre recherche </h4>
		</div>
	{% endif %}
{% endblock %}