{% extends 'base.html.twig' %}

{% block title %}
	Quizz
{% endblock %}
{% block titlecontent %}
	<h1> Thème : {{ theme.name }} </h1>
{% endblock %}
{% block maincontent %}
	<div id="maincontent_questions">
		<form method="post" action={{ path('quizz_score', { 'id': theme.id }) }}>
	{% for quizz in allquizz %}
		<div id="questions">
			<p> {{ quizz.question }}</p><br>
			<input type="radio" name={{ quizz.id }} value={{ quizz.answer1|replace({' ':''}) }} checked> {{ quizz.answer1 }}
			<input type="radio" name={{ quizz.id }} value={{ quizz.answer2|replace({' ':''}) }}> {{ quizz.answer2 }}
			<input type="radio" name={{ quizz.id }} value={{ quizz.answer3|replace({' ':''}) }}> {{ quizz.answer3 }}
		</div><br>
	{% endfor %}
			<input type="submit" value="Valider vos réponses">
		</form>
	</div>
{% endblock %}